<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRELITE</title>
    <link rel="stylesheet" href="style.css">
    <link href="../pic/globe.png" rel="icon" type="image/x-icon"/>

    <script src="https://kit.fontawesome.com/dadc90c450.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="myHeader" id="mine">
        <div>
            <h1 > <a href="../index.html">AIRELITE</a> </h1>
            <h3> <a href="../it.project/BookAFlight.htm">Book Flight</a></h3>
            
            <h3> <a href="../it.project/manageyourtrip.htm">Manage Trips</a></h3>
            <h3> <a href="../contact/contact.html">Contact Us</a></h3>
            <aside>
               <i class="fas fa-adjust" onclick="myFunction()"></i>
                <a href="../login form/index.html">sign in </a>
                <i class="fas fa-user-tie"></i>
            </aside>
        </div>
    </header>

    <h2 class="planes">Our Planes <br><br><br></h2>
    <h2 class="planes">Meet the fleet</h2>
    <section>
        
        <img src="../pic/A321.png" alt="">
        <h4>AirBus A321 Long Range</h4>
        <p> Our new jaw-dropping, pond-hopping plane boasts 114 seats and 24 Mint suites (including 2 of our new front-row Mint Studio).</p>
        
    </section>

    <section>
        
        <img src="../pic/A321neo.jpg" alt="">
        <h4>AirBus A321 neo</h4>
        <p> A321neo with Mint
            More space and attention to detail, less fuel burn and engine noise–plus, our freshest Mint yet, with all suites and the new Mint Studio.</p>
        
    </section>

    <section>
        
        <img src="../pic/170.jpg" alt="">
        <h4>Embraer 170</h4>
        <p> You deserve to feel at home, even when you're on the move. Our Embraer E-170 aircraft offers a variety of signature products and experiences unlike anything else.</p>
        
    </section>

    <section>
        
        <img src="../pic/175.jpg" alt="">
        <h4>Embraer EMB 175</h4>
        <p> Setting a new level in performance and economics. Designed for short to mid-range flights, the Embraer 175 features a flexible seat configuration</p>
        
    </section>
    
    <footer>
        
        
        <div>
            <a href="../it.project/AboutUs.htm">Our Company</a>
            <a href="../layout/index.html">Our Planes</a>
            <a href="../it.project/Policy.htm">Terms of Policies</a>
        </div>
        
        <div>
            <a href="../contact/contact.html">Contanct Us</a>
            <span>
                <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://www.Twitter.com"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="https://www.Instagram.com"><i class="fab fa-instagram-square"></i> Instagram</a>
                <a href="https://www.YouTube.com"><i class="fab fa-youtube-square"></i> YouTube</a>
            </span>
        </div>
        <hr> 

        
        
    </footer>
    <p class="copyRight"><span class="sp"> Indicates link opens an external site and may not conform to the same accessibility policies as JetBlue</span>
        &copy;2021 Airelite Aireways
    </p>
    <script src="../fs.js"></script>  

</body>
</html>